{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name(size=20) }}
        {{ form.price.label }} {{ form.price(size=20) }}
        {{ form.category.label }} {{ form.category(size=20) }}
        {{ form.photo_url.label }} {{ form.photo_url(size=20) }}
        {{ form.store.label }} {{ form.store(size=20) }}>

        <input type="submit" value="Submit">
    </fieldset>
</form>


{% endblock %}
